.navbar{
    height: 85px;
    box-shadow: 0 0 7px $color5 !important;
}

.navbar-brand img{
    height: 60px;
}

.nav-link{
    color: $color3 !important;
}

.navbar a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: $color3;
    padding: 6px;
}

.navbar a:hover{
    color: $color5;
}
